.content {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board {
  display: flex;
  flex-direction: column;
  border: 1px solid #667;
}

.row {
  display: flex;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #667;
  width: 40px;
  height: 40px;
}
